.button {
    border: none;
    color: white; /* couleur du texte */
    padding: 15px 32px; /* espace autour du texte */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  